
<!DOCTYPE html>
<html lang="en">
  <head>


   

    <!-- Custom styles for this template -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style2.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Dashboard </a></li>
            <li role="presentation" class="active"><a href="/users"> Control </a></li>
            <li role="presentation" class="active"><a href="/users/friends"> Search </a></li>
            <li role="presentation" class="active"><a href="/users/friendlist"> Followers </a></li>
            <li role="presentation" class="active"><a href="/users/following"> Following </a></li>
            <li role="presentation" class="active"><a href="/users/retweet"> Retweet </a></li>
            <li role="presentation" class="active"><a href="/users/others"> Others </a></li>
            <li role="presentation" class="active"><a href="/users/others2"> Others2 </a></li>
          </ul>
        </nav>
        <h3 class="text-muted">TWITTER</h3>
      </div>

      <div class="jumbotron">
        <h1>TwItTeR</h1>
        <a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row">
          {{{body}}}
        </div>

    
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/bootstrap.js"></script>
   
      
  </body>
</html>